@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Lobster&family=Noto+Sans+Mono:wght@300&display=swap');

/* _____ Formattage de base _____ */

:root {
  --green-color: #6DB290;
  --title-font : 'Archivo', sans-serif;
  --title-size: ;
  --text-font: 'Noto Sans Mono', monospace;
  --text-size: ;
  --logo-font: 'Lobster', cursive;
  --logo-size: 1.8rem;
}

body {
  margin: 0;
  font-size: 15px;
}

h1 {
  width: 80%;
  margin: auto;
  padding: 1rem;
  font-family: var(--title-font);
}

h2 {
  width: 80%;
  margin: auto;
  padding: 1rem;
  font-family: var(--title-font);
}

h3 {
  width: 80%;
  margin: auto;
  padding: 1rem;
  font-family: var(--title-font);
}

p {
  width: 80%;
  margin: auto;
  text-align: justify;
  font-family: var(--text-font);
}

a {
  font-family: var(--title-font);
}

a:link {
  text-decoration: none;
}


/* _____ P A G E   A C C U E I L _____ */

.searchbar {
  display: flex;
  justify-content: center;
}

.searchbar #searchbar {
  width: 65%;
  height: 1.8rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 20px;
  border: none;
  background-color: #6db28f81;
  font-family: var(--text-font);
  font-size: 0.8rem;
}

#searchbar:focus-visible {
  outline: none;
  border: none;
}

.searchbar .searchIcon {
  border-radius: 100%;
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--green-color);
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}